@model ProjetoAlmoco.Application.Categoria.Model.CategoriaModel

@{
    ViewBag.Title = "Atualizar Cardápio";
}

<!-- modal add categoria-->
<div id="modal-adicionar-categoria" class="modal">
    <div class="modal-content">

        <div class="topo">
            <span class="titulo-modal">Nova Categoria</span> <br>
            <button class="close-button" id="close-modalCat" onclick="fechaModal('modal-adicionar-categoria')">X</button>
        </div>

        <div class="formulario">
            <div class="nome-categoria">
                <span>Nome da categoria:</span>
                <input type="text" class="input" id="Nom_Nome">
            </div>

            <div class="bottom">
                <button class="botao" onclick="RotasCategoria.Post(@Model.Num_IdCategoria)">Adicionar</button>
            </div>

        </div>

    </div>
</div>