@model ProjetoAlmoco.Application.Categoria.Model.CategoriaModel

@{
    ViewBag.Title = "CarregaDelete";
}

<!-- modal excluir categoria-->
<div id="modal-excluir-categoria" class="modal">
    <script>
        var ElementID;
        function GetID(id) {
            ElementID = id;
        }
    </script>
    <div class="modal-content">
        <div class="topo">
            <span class="titulo-modal">Atenção!</span> <br>
            <button class="close-button" onclick="fechaModal('modal-excluir-categoria')">X</button>
        </div>

        <div class="confirmacao">
            <span>Deseja excluir esta categoria?</span>
        </div>

        <div class="bottom">
            <button class="botao" onclick="RotasCategoria.Delete(@Model.Num_IdCategoria)">Excluir</button>
        </div>

    </div>
</div>
