/*USUÁRIO*/
.usuario{
    display: flex;
    height: 15%;
    padding: 20px 0 0 25px;
    box-sizing: border-box;
  }
  
  .usuario div {
    margin-left: 10px;
  }
  
  .usuario i{
    font-size: 60px;
  }
  
  .nome{ /*nome do usuário*/ 
    color: rgb(255, 73, 49);
    font-size: 26px;
  }
  
  .sair i{ /*icone para sair da conta*/
    font-size: 22px;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
  }