
@{
    ViewBag.Title = "Erro";
}
<style>
    #div{
        width: 350px;
        height:150px;
        position: relative;
        margin: 250px 500px 350px 500px;
    }
    #h1 {
        text-align: center;
        margin-top: 30vh;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    #botao {
        background-color: white;
        border: 1px;
        border-radius: 15px;
        color: rgba(245, 29, 0, 0.6);
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        position: relative;
        margin: 0 150px 0 130px;
    }
</style>
<div id="div">
    <h1 id="h1">Usuario não encontrado :( </h1>
    <a href="@Url.Action("Index", "LoginCadastro")" id="botao">Voltar</a>
</div>


