<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>@ViewBag.Title - Sistema de Pedido de Marmitas</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    
    
        @RenderBody()
    

    @Scripts.Render("~/js/login-cadastro.js", "~/js/increase-button.js", "~/js/script.js", "~/js/modal-user.js", "~/js/modal-adm.js")

</body>
</html>
