@model ProjetoAlmoco.Application.Alimento.Model.AlimentoModel

@{
    ViewBag.Title = "Atualizar Cardápio";
}

<!-- modal excluir alimento-->
<div id="modal-excluir-alimento" class="modal">
    <div class="modal-content">
        <div class="topo">
            <span class="titulo-modal">Atenção!</span> <br>
            <button class="close-button" onclick="fechaModal('modal-excluir-alimento')">X</button>
        </div>

        <div class="confirmacao">
            <span>Deseja excluir este alimento?</span>
        </div>

        <div class="bottom">
            <button class="botao" onclick="RotasAlimento.Delete(@Model.Num_IdAlimentos)">Excluir</button>
        </div>

    </div>
</div>