@model ProjetoAlmoco.Application.Alimento.Model.AlimentoModel

@{
    ViewBag.Title = "Atualizar Cardápio";
}

<!-- modal add alimento-->
    <div id="modal-adicionar-alimento" class="modal">
        <div class="modal-content">

            <div class="topo">
                <span class="titulo-modal">Novo Alimento</span> <br>
                <button class="close-button" id="close-modalCat" onclick="fechaModal('modal-adicionar-alimento')">X</button>
            </div>

            <div class="formulario">
                <div class="nome-categoria">
                    <span>Nome:</span>
                    <input type="text" class="input" id="Nom_NomeAlimento">
                </div>

                <input type="text" class="input-none" id="Num_IdCategoria" value=@Model.Num_IdCategoria>

                <div class="bottom">
                    <button class="botao" onclick="RotasAlimento.Post()">Adicionar</button>
                </div>

            </div>

        </div>
    </div>


